body, html, h1,h2,h3,h4,p,ul,li{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style-type: none;
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	display: flex;
}
h2.title{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	letter-spacing: 5px;
    font-size: 24px;
    color: #333b46;
    margin-bottom: 30px;
}
p.subtitle{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	max-width: 400px;
    text-align: center;
    line-height: 26px;
}
header{
    margin: 40px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 111;
}
header .container{
	justify-content: space-between;
}
header .menu ul{
	display: flex;
    align-items: center;
}

header .menu ul a{
	color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
	 transition: 0.5s;
	 display: block;
    padding: 5px 20px;
    border-radius: 30px;
}
header .menu ul a:hover{
	display: block;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 30px;
}

header .menu ul a:hover:after{
	margin-top: 5px;
	opacity: 1;
    visibility: visible;
}

header .menu ul a.active:after{
	display: none;
}
#top_head{
	height: 100vh;
	background-image: url(../img/main_bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
#top_head .scroll_down{
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
}
#top_head .scroll_down a{
	background-color: #19BD9A;
	width: 30px;
	height: 30px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
#top_head .scroll_down a:hover img{
	transform: scale(1.3);
}
#top_head .scroll_down a img{
	margin-bottom: -2px;
	transition: 0.5s;
}
#top_head .container{
	align-items: center;
	height: 100%;
	justify-content: center;
	text-align: center;
}
#top_head .text{
	color: #fff;
    max-width: 600px;
}
#top_head h1{
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 6px;
	font-weight: 100;
	font-size: 44px;
	margin-bottom: 30px;
}
#top_head p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
}
#portfolio{
	padding: 90px 0;
	background-color: #f3f3f3;
}
#portfolio .container{
	flex-direction: column;
   align-items: center;
}
#portfolio .portfolio{
	width: 100%;
	margin-top: 70px;
}
#portfolio .portfolio_nav ul,
#portfolio .portfolio_items,
#team .team_item{
	display: flex;
}
#portfolio .portfolio_nav ul{
	justify-content: center;
}
#portfolio .portfolio_items{
	margin-top: 45px;
}
#portfolio .portfolio_nav ul li{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	position: relative;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.5s;
}
#portfolio .portfolio_nav ul li.active:after,
#portfolio .portfolio_nav ul li:after{
    content: "";
    background-color: #19BD9A;
    width: 40px;
    height: 1px;
    display: block;
    margin: 8px auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#portfolio .portfolio_nav ul li.active:after,
#portfolio .portfolio_nav ul li:hover:after{
	visibility: visible;
    opacity: 1;
}
#portfolio .portfolio_nav li{
	margin: 0 10px;
}
#portfolio .portfolio_items .column{
	max-width: 25%;
	width: 100%;
	padding-left: 10px;
}
#portfolio .portfolio_items .column:first-child{
	padding-left: 0;
}
#portfolio .portfolio_items .column .portfolio_item{
	padding-bottom: 10px;
	transition: 0.5s;
}
#portfolio .portfolio_items .column .portfolio_item:hover{
	transform: scale(1.02);
}
#portfolio .portfolio_items .column img{
	width: 100%;
	margin-bottom: -4px;
}
#team{
	padding: 90px 0 130px;
}
#team .container{
	flex-direction: column;
	align-items: center;
}
#team .team_item{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
#team .team_about{
	width: 35%;
	max-height: 365px;
	overflow-y: scroll;
	padding: 0 50px;
	text-align: right;
}
#team .team_about::-webkit-scrollbar {
	width: 4px;
}
#team .team_about::-webkit-scrollbar-track {
	background: #fff;
}
#team .team_about::-webkit-scrollbar-thumb {
	background: #19bd9a;
}
#team .team_about::-webkit-scrollbar-thumb:hover {
	background: #21e2b9;
}
#team .team_about h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #464646;
	letter-spacing: 1px;
}
#team .team_about h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #81868E;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
	font-style: italic;
	margin-top: 7px;
}
#team .team_about p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 25px;
}
#team .team_slider{
	margin-top: 60px;
	width: 100%;
}
#team .team_slider .slick-dots li button:before,
#testimonials .testimonials_slider .slick-dots li button:before{
	display: none;
}
#team .team_slider .slick-dots li button,
#testimonials .testimonials_slider .slick-dots li button{
	border: 1px solid #19BD9A;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    transition: 0.5s;
}
#team .team_slider .slick-dots,
#testimonials .testimonials_slider .slick-dots{
	bottom: -50px;
}
#team .team_slider .slick-dots li.slick-active button,
#testimonials .testimonials_slider .slick-dots li.slick-active button{
	background-color: #19BD9A;
}
#team .team_description{
	margin-top: 25px;
}
#cta{
	background-image: url(../img/cta_bg.jpg);
	padding: 90px 0;
    background-size: cover;
    background-repeat: no-repeat;
}
#cta .container{
	flex-direction: column;
	align-items: center;
	color: #fff;
}
#cta p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 25px;
}
#cta a{
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	border: 1px solid #fff;
	padding: 7px 25px;
	border-radius: 30px;
	transition: 0.5s;
}
#cta a:hover{
	color: #81868E;
	background-color: #fff;
	font-weight: 600;
}
#testimonials{
	padding: 90px 0;
	background-color: #f3f3f3;
}
#testimonials .container{
	flex-direction: column;
    align-items: center;
}
#testimonials .testimonials_slider{
	background-color: #fff;
	padding: 50px 90px 90px;
	margin-top: 50px;
	width: 100%;
}
#testimonials .testimonials_slider .slick-dots{
	width: 100%;
	right: 0;
	bottom: 30px;
}
#testimonials .testimonials_item{
	display: flex;
    align-items: flex-start;	
}
#testimonials .testimonials_item .description{
	padding-left: 40px;
}
#testimonials .testimonials_item .description .text p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 28px;
	color: #81868E;
}
#testimonials .testimonials_item .about{
	margin-top: 25px;
}
#testimonials .testimonials_item .about h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: #19BD9A;
	letter-spacing: 1px;
}
#testimonials .testimonials_item .about h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #464646;
}
#contact_us{
	padding: 90px 0 50px;
}
#contact_us .container{
	flex-direction: column;
    align-items: center;
}
#contact_us .map{
	width: 100%;
	margin-top: 50px;
}
footer{
	padding-bottom: 60px;
}
footer .container{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	color: #81868E;
	margin: 10px 0 25px;
}
footer .social_area{
	display: flex;
}
footer .social_area a{
	background-color: #333;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 4PX;
    padding: 1px;
    box-sizing: border-box;
    transition: 0.3s;
}
footer .social_area a:hover{
	transform: rotate(360deg);
}
footer .social_area a.facebook{
	background-color: #3B5998;
}
footer .social_area a.twitter{
	background-color: #26A6D1;
}
footer .social_area a.linkedin{
	background-color: #0E76A8;
}
footer .social_area a.instagram{
	background-color: #3F729B;
}
footer .social_area a.vimeo{
	background-color: #3F729B;
}
@media screen and (max-width: 1250px){
	.container{
		max-width: 1024px;
	}
}
@media screen and (max-width: 1024px){
	.container{
		max-width: 960px;
	}
}
@media screen and (max-width: 970px){
	.container{
		max-width: 760px;
	}
}